integration-testing/src/main/docker/nifi/conf/flow.json
{
  "encodingVersion": {
    "majorVersion": 2,
    "minorVersion": 0
  },
  "maxTimerDrivenThreadCount": 10,
  "maxEventDrivenThreadCount": 1,
  "registries": [],
  "parameterContexts": [],
  "parameterProviders": [],
  "controllerServices": [],
  "reportingTasks": [],
  "templates": [],
  "rootGroup": {
    "identifier": "root-group-id-001",
    "instanceIdentifier": "root-group-instance-001",
    "name": "NiFi Flow",
    "position": { "x": 0, "y": 0 },
    "processGroups": [],
    "remoteProcessGroups": [],
    "processors": [
      {
        "identifier": "proc-http-request-001",
        "instanceIdentifier": "proc-http-request-inst-001",
        "name": "HandleHttpRequest",
        "type": "org.apache.nifi.processors.standard.HandleHttpRequest",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.4.0"
        },
        "properties": {
          "Listening Port": "7777",
          "HTTP Context Map": "svc-http-context-map-001"
        },
        "propertyDescriptors": {
          "Listening Port": {
            "name": "Listening Port",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "HTTP Context Map": {
            "name": "HTTP Context Map",
            "identifiesControllerService": true,
            "sensitive": false
          }
        },
        "scheduledState": "RUNNING",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "componentType": "PROCESSOR",
        "groupIdentifier": "root-group-id-001",
        "position": { "x": 200, "y": 200 },
        "style": {},
        "retriedRelationships": [],
        "retryCount": 0,
        "executionNode": "ALL",
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "identifier": "proc-jwt-auth-001",
        "instanceIdentifier": "proc-jwt-auth-inst-001",
        "name": "MultiIssuerJWTTokenAuthenticator",
        "type": "de.cuioss.nifi.processors.auth.MultiIssuerJWTTokenAuthenticator",
        "bundle": {
          "group": "de.cuioss.nifi",
          "artifact": "nifi-cuioss-nar",
          "version": "1.0-SNAPSHOT"
        },
        "properties": {
          "Token Location": "AUTHORIZATION_HEADER",
          "Token Header": "Authorization",
          "Bearer Token Prefix": "Bearer",
          "Require Valid Token": "true",
          "Require HTTPS for JWKS": "false",
          "issuer.keycloak.jwks-type": "url",
          "issuer.keycloak.jwks-url": "http://keycloak:8080/realms/oauth_integration_tests/protocol/openid-connect/certs",
          "issuer.keycloak.issuer": "http://keycloak:8080/realms/oauth_integration_tests",
          "issuer.keycloak.required-roles": "read"
        },
        "propertyDescriptors": {
          "Token Location": {
            "name": "Token Location",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Token Header": {
            "name": "Token Header",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Bearer Token Prefix": {
            "name": "Bearer Token Prefix",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Require Valid Token": {
            "name": "Require Valid Token",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Require HTTPS for JWKS": {
            "name": "Require HTTPS for JWKS",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "issuer.keycloak.jwks-type": {
            "name": "issuer.keycloak.jwks-type",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "issuer.keycloak.jwks-url": {
            "name": "issuer.keycloak.jwks-url",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "issuer.keycloak.issuer": {
            "name": "issuer.keycloak.issuer",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "issuer.keycloak.required-roles": {
            "name": "issuer.keycloak.required-roles",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "scheduledState": "RUNNING",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "componentType": "PROCESSOR",
        "groupIdentifier": "root-group-id-001",
        "position": { "x": 200, "y": 400 },
        "style": {},
        "retriedRelationships": [],
        "retryCount": 0,
        "executionNode": "ALL",
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "identifier": "proc-log-success-001",
        "instanceIdentifier": "proc-log-success-inst-001",
        "name": "LogAttribute (jwt-success)",
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.4.0"
        },
        "properties": {
          "Log Level": "info",
          "Log prefix": "jwt-success"
        },
        "propertyDescriptors": {
          "Log Level": {
            "name": "Log Level",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Log prefix": {
            "name": "Log prefix",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "scheduledState": "RUNNING",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "componentType": "PROCESSOR",
        "groupIdentifier": "root-group-id-001",
        "position": { "x": 0, "y": 600 },
        "style": {},
        "retriedRelationships": [],
        "retryCount": 0,
        "executionNode": "ALL",
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "identifier": "proc-log-failed-001",
        "instanceIdentifier": "proc-log-failed-inst-001",
        "name": "LogAttribute (jwt-failed)",
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.4.0"
        },
        "properties": {
          "Log Level": "info",
          "Log prefix": "jwt-failed"
        },
        "propertyDescriptors": {
          "Log Level": {
            "name": "Log Level",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Log prefix": {
            "name": "Log prefix",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "scheduledState": "RUNNING",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "componentType": "PROCESSOR",
        "groupIdentifier": "root-group-id-001",
        "position": { "x": 400, "y": 600 },
        "style": {},
        "retriedRelationships": [],
        "retryCount": 0,
        "executionNode": "ALL",
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "identifier": "proc-update-success-001",
        "instanceIdentifier": "proc-update-success-inst-001",
        "name": "UpdateAttribute (200)",
        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-update-attribute-nar",
          "version": "2.4.0"
        },
        "properties": {
          "http.status.code": "200"
        },
        "propertyDescriptors": {
          "http.status.code": {
            "name": "http.status.code",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "scheduledState": "RUNNING",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "componentType": "PROCESSOR",
        "groupIdentifier": "root-group-id-001",
        "position": { "x": 0, "y": 800 },
        "style": {},
        "retriedRelationships": [],
        "retryCount": 0,
        "executionNode": "ALL",
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "identifier": "proc-update-failed-001",
        "instanceIdentifier": "proc-update-failed-inst-001",
        "name": "UpdateAttribute (401)",
        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-update-attribute-nar",
          "version": "2.4.0"
        },
        "properties": {
          "http.status.code": "401"
        },
        "propertyDescriptors": {
          "http.status.code": {
            "name": "http.status.code",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "scheduledState": "RUNNING",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "componentType": "PROCESSOR",
        "groupIdentifier": "root-group-id-001",
        "position": { "x": 400, "y": 800 },
        "style": {},
        "retriedRelationships": [],
        "retryCount": 0,
        "executionNode": "ALL",
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "identifier": "proc-http-response-success-001",
        "instanceIdentifier": "proc-http-response-success-inst-001",
        "name": "HandleHttpResponse (200)",
        "type": "org.apache.nifi.processors.standard.HandleHttpResponse",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.4.0"
        },
        "properties": {
          "HTTP Status Code": "${http.status.code}",
          "HTTP Context Map": "svc-http-context-map-001"
        },
        "propertyDescriptors": {
          "HTTP Status Code": {
            "name": "HTTP Status Code",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "HTTP Context Map": {
            "name": "HTTP Context Map",
            "identifiesControllerService": true,
            "sensitive": false
          }
        },
        "scheduledState": "RUNNING",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": ["success", "failure"],
        "componentType": "PROCESSOR",
        "groupIdentifier": "root-group-id-001",
        "position": { "x": 0, "y": 1000 },
        "style": {},
        "retriedRelationships": [],
        "retryCount": 0,
        "executionNode": "ALL",
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "identifier": "proc-http-response-failed-001",
        "instanceIdentifier": "proc-http-response-failed-inst-001",
        "name": "HandleHttpResponse (401)",
        "type": "org.apache.nifi.processors.standard.HandleHttpResponse",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.4.0"
        },
        "properties": {
          "HTTP Status Code": "${http.status.code}",
          "HTTP Context Map": "svc-http-context-map-001"
        },
        "propertyDescriptors": {
          "HTTP Status Code": {
            "name": "HTTP Status Code",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "HTTP Context Map": {
            "name": "HTTP Context Map",
            "identifiesControllerService": true,
            "sensitive": false
          }
        },
        "scheduledState": "RUNNING",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": ["success", "failure"],
        "componentType": "PROCESSOR",
        "groupIdentifier": "root-group-id-001",
        "position": { "x": 400, "y": 1000 },
        "style": {},
        "retriedRelationships": [],
        "retryCount": 0,
        "executionNode": "ALL",
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      }
    ],
    "inputPorts": [],
    "outputPorts": [],
    "connections": [
      {
        "identifier": "conn-request-to-jwt-001",
        "instanceIdentifier": "conn-request-to-jwt-inst-001",
        "name": "HandleHttpRequest → JWT Auth",
        "source": {
          "id": "proc-http-request-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "HandleHttpRequest"
        },
        "destination": {
          "id": "proc-jwt-auth-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "MultiIssuerJWTTokenAuthenticator"
        },
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "root-group-id-001",
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "identifier": "conn-jwt-to-log-success-001",
        "instanceIdentifier": "conn-jwt-to-log-success-inst-001",
        "name": "JWT Auth success → LogAttribute",
        "source": {
          "id": "proc-jwt-auth-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "MultiIssuerJWTTokenAuthenticator"
        },
        "destination": {
          "id": "proc-log-success-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "LogAttribute (jwt-success)"
        },
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "root-group-id-001",
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "identifier": "conn-jwt-to-log-failed-001",
        "instanceIdentifier": "conn-jwt-to-log-failed-inst-001",
        "name": "JWT Auth failed → LogAttribute",
        "source": {
          "id": "proc-jwt-auth-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "MultiIssuerJWTTokenAuthenticator"
        },
        "destination": {
          "id": "proc-log-failed-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "LogAttribute (jwt-failed)"
        },
        "selectedRelationships": ["authentication-failed"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "root-group-id-001",
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "identifier": "conn-log-success-to-update-001",
        "instanceIdentifier": "conn-log-success-to-update-inst-001",
        "name": "LogAttribute success → UpdateAttribute 200",
        "source": {
          "id": "proc-log-success-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "LogAttribute (jwt-success)"
        },
        "destination": {
          "id": "proc-update-success-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "UpdateAttribute (200)"
        },
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "root-group-id-001",
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "identifier": "conn-log-failed-to-update-001",
        "instanceIdentifier": "conn-log-failed-to-update-inst-001",
        "name": "LogAttribute failed → UpdateAttribute 401",
        "source": {
          "id": "proc-log-failed-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "LogAttribute (jwt-failed)"
        },
        "destination": {
          "id": "proc-update-failed-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "UpdateAttribute (401)"
        },
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "root-group-id-001",
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "identifier": "conn-update-success-to-response-001",
        "instanceIdentifier": "conn-update-success-to-response-inst-001",
        "name": "UpdateAttribute 200 → HandleHttpResponse",
        "source": {
          "id": "proc-update-success-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "UpdateAttribute (200)"
        },
        "destination": {
          "id": "proc-http-response-success-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "HandleHttpResponse (200)"
        },
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "root-group-id-001",
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "identifier": "conn-update-failed-to-response-001",
        "instanceIdentifier": "conn-update-failed-to-response-inst-001",
        "name": "UpdateAttribute 401 → HandleHttpResponse",
        "source": {
          "id": "proc-update-failed-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "UpdateAttribute (401)"
        },
        "destination": {
          "id": "proc-http-response-failed-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "HandleHttpResponse (401)"
        },
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "root-group-id-001",
        "labelIndex": 1,
        "zIndex": 0
      }
    ],
    "labels": [],
    "funnels": [],
    "controllerServices": [
      {
        "identifier": "svc-http-context-map-001",
        "instanceIdentifier": "svc-http-context-map-inst-001",
        "name": "StandardHttpContextMap",
        "type": "org.apache.nifi.http.StandardHttpContextMap",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-http-context-map-nar",
          "version": "2.4.0"
        },
        "properties": {
          "Maximum Outstanding Requests": "1000",
          "Request Expiration": "1 min"
        },
        "propertyDescriptors": {
          "Maximum Outstanding Requests": {
            "name": "Maximum Outstanding Requests",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Request Expiration": {
            "name": "Request Expiration",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.http.HttpContextMap",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-http-context-map-api",
              "version": "2.4.0"
            }
          }
        ],
        "scheduledState": "ENABLED",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "root-group-id-001"
      }
    ],
    "defaultFlowFileExpiration": "0 sec",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "componentType": "PROCESS_GROUP",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE"
  }
}
