integration-testing/src/main/docker/nifi/conf/flow.json
{
  "encodingVersion": {
    "majorVersion": 2,
    "minorVersion": 0
  },
  "maxTimerDrivenThreadCount": 10,
  "maxEventDrivenThreadCount": 1,
  "registries": [],
  "parameterContexts": [],
  "parameterProviders": [],
  "controllerServices": [],
  "reportingTasks": [],
  "templates": [],
  "rootGroup": {
    "identifier": "root-group-id-001",
    "instanceIdentifier": "root-group-instance-001",
    "name": "NiFi Flow",
    "position": { "x": 0, "y": 0 },
    "processGroups": [],
    "remoteProcessGroups": [],
    "processors": [
      {
        "identifier": "proc-http-request-001",
        "instanceIdentifier": "proc-http-request-inst-001",
        "name": "HandleHttpRequest",
        "type": "org.apache.nifi.processors.standard.HandleHttpRequest",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.4.0"
        },
        "properties": {
          "Listening Port": "7777",
          "HTTP Context Map": "svc-http-context-map-001"
        },
        "propertyDescriptors": {
          "Listening Port": {
            "name": "Listening Port",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "HTTP Context Map": {
            "name": "HTTP Context Map",
            "identifiesControllerService": true,
            "sensitive": false
          }
        },
        "scheduledState": "RUNNING",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "componentType": "PROCESSOR",
        "groupIdentifier": "root-group-id-001",
        "position": { "x": 200, "y": 200 },
        "style": {},
        "retriedRelationships": [],
        "retryCount": 0,
        "executionNode": "ALL",
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "identifier": "proc-extract-token-001",
        "instanceIdentifier": "proc-extract-token-inst-001",
        "name": "UpdateAttribute (Extract Token)",
        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-update-attribute-nar",
          "version": "2.4.0"
        },
        "properties": {
          "jwt.token": "${http.headers.Authorization:replaceFirst('Bearer ', '')}"
        },
        "propertyDescriptors": {
          "jwt.token": {
            "name": "jwt.token",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "scheduledState": "RUNNING",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "componentType": "PROCESSOR",
        "groupIdentifier": "root-group-id-001",
        "position": { "x": 200, "y": 300 },
        "style": {},
        "retriedRelationships": [],
        "retryCount": 0,
        "executionNode": "ALL",
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "identifier": "proc-jwt-auth-001",
        "instanceIdentifier": "proc-jwt-auth-inst-001",
        "name": "MultiIssuerJWTTokenAuthenticator",
        "type": "de.cuioss.nifi.processors.auth.MultiIssuerJWTTokenAuthenticator",
        "bundle": {
          "group": "de.cuioss.nifi",
          "artifact": "nifi-cuioss-nar",
          "version": "1.0-SNAPSHOT"
        },
        "properties": {
          "jwt.issuer.config.service": "svc-jwt-issuer-config-001",
          "jwt.validation.token.attribute": "jwt.token",
          "jwt.validation.require.valid.token": "true",
          "jwt.authorization.required.roles": "read"
        },
        "propertyDescriptors": {
          "jwt.issuer.config.service": {
            "name": "jwt.issuer.config.service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "jwt.validation.token.attribute": {
            "name": "jwt.validation.token.attribute",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "jwt.validation.require.valid.token": {
            "name": "jwt.validation.require.valid.token",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "jwt.authorization.required.roles": {
            "name": "jwt.authorization.required.roles",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "scheduledState": "RUNNING",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "componentType": "PROCESSOR",
        "groupIdentifier": "root-group-id-001",
        "position": { "x": 200, "y": 400 },
        "style": {},
        "retriedRelationships": [],
        "retryCount": 0,
        "executionNode": "ALL",
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "identifier": "proc-log-success-001",
        "instanceIdentifier": "proc-log-success-inst-001",
        "name": "LogAttribute (jwt-success)",
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.4.0"
        },
        "properties": {
          "Log Level": "info",
          "Log prefix": "jwt-success"
        },
        "propertyDescriptors": {
          "Log Level": {
            "name": "Log Level",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Log prefix": {
            "name": "Log prefix",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "scheduledState": "RUNNING",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "componentType": "PROCESSOR",
        "groupIdentifier": "root-group-id-001",
        "position": { "x": 0, "y": 600 },
        "style": {},
        "retriedRelationships": [],
        "retryCount": 0,
        "executionNode": "ALL",
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "identifier": "proc-log-failed-001",
        "instanceIdentifier": "proc-log-failed-inst-001",
        "name": "LogAttribute (jwt-failed)",
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.4.0"
        },
        "properties": {
          "Log Level": "info",
          "Log prefix": "jwt-failed"
        },
        "propertyDescriptors": {
          "Log Level": {
            "name": "Log Level",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Log prefix": {
            "name": "Log prefix",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "scheduledState": "RUNNING",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "componentType": "PROCESSOR",
        "groupIdentifier": "root-group-id-001",
        "position": { "x": 400, "y": 600 },
        "style": {},
        "retriedRelationships": [],
        "retryCount": 0,
        "executionNode": "ALL",
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "identifier": "proc-update-success-001",
        "instanceIdentifier": "proc-update-success-inst-001",
        "name": "UpdateAttribute (200)",
        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-update-attribute-nar",
          "version": "2.4.0"
        },
        "properties": {
          "http.status.code": "200"
        },
        "propertyDescriptors": {
          "http.status.code": {
            "name": "http.status.code",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "scheduledState": "RUNNING",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "componentType": "PROCESSOR",
        "groupIdentifier": "root-group-id-001",
        "position": { "x": 0, "y": 800 },
        "style": {},
        "retriedRelationships": [],
        "retryCount": 0,
        "executionNode": "ALL",
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "identifier": "proc-update-failed-001",
        "instanceIdentifier": "proc-update-failed-inst-001",
        "name": "UpdateAttribute (401)",
        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-update-attribute-nar",
          "version": "2.4.0"
        },
        "properties": {
          "http.status.code": "401"
        },
        "propertyDescriptors": {
          "http.status.code": {
            "name": "http.status.code",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "scheduledState": "RUNNING",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "componentType": "PROCESSOR",
        "groupIdentifier": "root-group-id-001",
        "position": { "x": 400, "y": 800 },
        "style": {},
        "retriedRelationships": [],
        "retryCount": 0,
        "executionNode": "ALL",
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "identifier": "proc-attrs-to-json-success-001",
        "instanceIdentifier": "proc-attrs-to-json-success-inst-001",
        "name": "AttributesToJSON (success)",
        "type": "org.apache.nifi.processors.standard.AttributesToJSON",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.4.0"
        },
        "properties": {
          "attributes-to-json-regex": "jwt\\..*",
          "Destination": "flowfile-content",
          "Include Core Attributes": "false"
        },
        "propertyDescriptors": {
          "attributes-to-json-regex": {
            "name": "attributes-to-json-regex",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Destination": {
            "name": "Destination",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Include Core Attributes": {
            "name": "Include Core Attributes",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "scheduledState": "RUNNING",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": ["failure"],
        "componentType": "PROCESSOR",
        "groupIdentifier": "root-group-id-001",
        "position": { "x": 0, "y": 900 },
        "style": {},
        "retriedRelationships": [],
        "retryCount": 0,
        "executionNode": "ALL",
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "identifier": "proc-attrs-to-json-failed-001",
        "instanceIdentifier": "proc-attrs-to-json-failed-inst-001",
        "name": "AttributesToJSON (failure)",
        "type": "org.apache.nifi.processors.standard.AttributesToJSON",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.4.0"
        },
        "properties": {
          "attributes-to-json-regex": "jwt\\..*",
          "Destination": "flowfile-content",
          "Include Core Attributes": "false"
        },
        "propertyDescriptors": {
          "attributes-to-json-regex": {
            "name": "attributes-to-json-regex",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Destination": {
            "name": "Destination",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Include Core Attributes": {
            "name": "Include Core Attributes",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "scheduledState": "RUNNING",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": ["failure"],
        "componentType": "PROCESSOR",
        "groupIdentifier": "root-group-id-001",
        "position": { "x": 400, "y": 900 },
        "style": {},
        "retriedRelationships": [],
        "retryCount": 0,
        "executionNode": "ALL",
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "identifier": "proc-http-response-success-001",
        "instanceIdentifier": "proc-http-response-success-inst-001",
        "name": "HandleHttpResponse (200)",
        "type": "org.apache.nifi.processors.standard.HandleHttpResponse",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.4.0"
        },
        "properties": {
          "HTTP Status Code": "${http.status.code}",
          "HTTP Context Map": "svc-http-context-map-001"
        },
        "propertyDescriptors": {
          "HTTP Status Code": {
            "name": "HTTP Status Code",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "HTTP Context Map": {
            "name": "HTTP Context Map",
            "identifiesControllerService": true,
            "sensitive": false
          }
        },
        "scheduledState": "RUNNING",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": ["success", "failure"],
        "componentType": "PROCESSOR",
        "groupIdentifier": "root-group-id-001",
        "position": { "x": 0, "y": 1100 },
        "style": {},
        "retriedRelationships": [],
        "retryCount": 0,
        "executionNode": "ALL",
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "identifier": "proc-http-response-failed-001",
        "instanceIdentifier": "proc-http-response-failed-inst-001",
        "name": "HandleHttpResponse (401)",
        "type": "org.apache.nifi.processors.standard.HandleHttpResponse",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.4.0"
        },
        "properties": {
          "HTTP Status Code": "${http.status.code}",
          "HTTP Context Map": "svc-http-context-map-001"
        },
        "propertyDescriptors": {
          "HTTP Status Code": {
            "name": "HTTP Status Code",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "HTTP Context Map": {
            "name": "HTTP Context Map",
            "identifiesControllerService": true,
            "sensitive": false
          }
        },
        "scheduledState": "RUNNING",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": ["success", "failure"],
        "componentType": "PROCESSOR",
        "groupIdentifier": "root-group-id-001",
        "position": { "x": 400, "y": 1100 },
        "style": {},
        "retriedRelationships": [],
        "retryCount": 0,
        "executionNode": "ALL",
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "identifier": "proc-rest-gateway-001",
        "instanceIdentifier": "proc-rest-gateway-inst-001",
        "name": "RestApiGateway",
        "type": "de.cuioss.nifi.rest.RestApiGatewayProcessor",
        "bundle": {
          "group": "de.cuioss.nifi",
          "artifact": "nifi-cuioss-nar",
          "version": "1.0-SNAPSHOT"
        },
        "properties": {
          "rest.gateway.listening.port": "9443",
          "rest.gateway.jwt.config.service": "svc-jwt-issuer-config-001",
          "rest.gateway.max.request.size": "1048576",
          "rest.gateway.request.queue.size": "50",
          "restapi.health.path": "/api/health",
          "restapi.health.methods": "GET",
          "restapi.data.path": "/api/data",
          "restapi.data.methods": "GET,POST"
        },
        "propertyDescriptors": {
          "rest.gateway.listening.port": {
            "name": "rest.gateway.listening.port",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "rest.gateway.jwt.config.service": {
            "name": "rest.gateway.jwt.config.service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "rest.gateway.max.request.size": {
            "name": "rest.gateway.max.request.size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "rest.gateway.request.queue.size": {
            "name": "rest.gateway.request.queue.size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "restapi.health.path": {
            "name": "restapi.health.path",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "restapi.health.methods": {
            "name": "restapi.health.methods",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "restapi.data.path": {
            "name": "restapi.data.path",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "restapi.data.methods": {
            "name": "restapi.data.methods",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "scheduledState": "RUNNING",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": ["failure"],
        "componentType": "PROCESSOR",
        "groupIdentifier": "root-group-id-001",
        "position": { "x": 800, "y": 200 },
        "style": {},
        "retriedRelationships": [],
        "retryCount": 0,
        "executionNode": "ALL",
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "identifier": "proc-log-gateway-health-001",
        "instanceIdentifier": "proc-log-gateway-health-inst-001",
        "name": "LogAttribute (gateway-health)",
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.4.0"
        },
        "properties": {
          "Log Level": "info",
          "Log prefix": "gateway-health"
        },
        "propertyDescriptors": {
          "Log Level": {
            "name": "Log Level",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Log prefix": {
            "name": "Log prefix",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "scheduledState": "RUNNING",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": ["success"],
        "componentType": "PROCESSOR",
        "groupIdentifier": "root-group-id-001",
        "position": { "x": 800, "y": 400 },
        "style": {},
        "retriedRelationships": [],
        "retryCount": 0,
        "executionNode": "ALL",
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      },
      {
        "identifier": "proc-log-gateway-data-001",
        "instanceIdentifier": "proc-log-gateway-data-inst-001",
        "name": "LogAttribute (gateway-data)",
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "2.4.0"
        },
        "properties": {
          "Log Level": "info",
          "Log prefix": "gateway-data"
        },
        "propertyDescriptors": {
          "Log Level": {
            "name": "Log Level",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Log prefix": {
            "name": "Log prefix",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "scheduledState": "RUNNING",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": ["success"],
        "componentType": "PROCESSOR",
        "groupIdentifier": "root-group-id-001",
        "position": { "x": 1000, "y": 400 },
        "style": {},
        "retriedRelationships": [],
        "retryCount": 0,
        "executionNode": "ALL",
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins"
      }
    ],
    "inputPorts": [],
    "outputPorts": [],
    "connections": [
      {
        "identifier": "conn-request-to-extract-001",
        "instanceIdentifier": "conn-request-to-extract-inst-001",
        "name": "HandleHttpRequest → Extract Token",
        "source": {
          "id": "proc-http-request-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "HandleHttpRequest"
        },
        "destination": {
          "id": "proc-extract-token-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "UpdateAttribute (Extract Token)"
        },
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "root-group-id-001",
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "identifier": "conn-extract-to-jwt-001",
        "instanceIdentifier": "conn-extract-to-jwt-inst-001",
        "name": "Extract Token → JWT Auth",
        "source": {
          "id": "proc-extract-token-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "UpdateAttribute (Extract Token)"
        },
        "destination": {
          "id": "proc-jwt-auth-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "MultiIssuerJWTTokenAuthenticator"
        },
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "root-group-id-001",
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "identifier": "conn-jwt-to-log-success-001",
        "instanceIdentifier": "conn-jwt-to-log-success-inst-001",
        "name": "JWT Auth success → LogAttribute",
        "source": {
          "id": "proc-jwt-auth-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "MultiIssuerJWTTokenAuthenticator"
        },
        "destination": {
          "id": "proc-log-success-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "LogAttribute (jwt-success)"
        },
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "root-group-id-001",
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "identifier": "conn-jwt-to-log-failed-001",
        "instanceIdentifier": "conn-jwt-to-log-failed-inst-001",
        "name": "JWT Auth failed → LogAttribute",
        "source": {
          "id": "proc-jwt-auth-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "MultiIssuerJWTTokenAuthenticator"
        },
        "destination": {
          "id": "proc-log-failed-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "LogAttribute (jwt-failed)"
        },
        "selectedRelationships": ["authentication-failed"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "root-group-id-001",
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "identifier": "conn-log-success-to-update-001",
        "instanceIdentifier": "conn-log-success-to-update-inst-001",
        "name": "LogAttribute success → UpdateAttribute 200",
        "source": {
          "id": "proc-log-success-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "LogAttribute (jwt-success)"
        },
        "destination": {
          "id": "proc-update-success-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "UpdateAttribute (200)"
        },
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "root-group-id-001",
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "identifier": "conn-log-failed-to-update-001",
        "instanceIdentifier": "conn-log-failed-to-update-inst-001",
        "name": "LogAttribute failed → UpdateAttribute 401",
        "source": {
          "id": "proc-log-failed-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "LogAttribute (jwt-failed)"
        },
        "destination": {
          "id": "proc-update-failed-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "UpdateAttribute (401)"
        },
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "root-group-id-001",
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "identifier": "conn-update-success-to-attrs-json-001",
        "instanceIdentifier": "conn-update-success-to-attrs-json-inst-001",
        "name": "UpdateAttribute 200 → AttributesToJSON (success)",
        "source": {
          "id": "proc-update-success-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "UpdateAttribute (200)"
        },
        "destination": {
          "id": "proc-attrs-to-json-success-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "AttributesToJSON (success)"
        },
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "root-group-id-001",
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "identifier": "conn-attrs-json-success-to-response-001",
        "instanceIdentifier": "conn-attrs-json-success-to-response-inst-001",
        "name": "AttributesToJSON (success) → HandleHttpResponse (200)",
        "source": {
          "id": "proc-attrs-to-json-success-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "AttributesToJSON (success)"
        },
        "destination": {
          "id": "proc-http-response-success-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "HandleHttpResponse (200)"
        },
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "root-group-id-001",
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "identifier": "conn-update-failed-to-attrs-json-001",
        "instanceIdentifier": "conn-update-failed-to-attrs-json-inst-001",
        "name": "UpdateAttribute 401 → AttributesToJSON (failure)",
        "source": {
          "id": "proc-update-failed-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "UpdateAttribute (401)"
        },
        "destination": {
          "id": "proc-attrs-to-json-failed-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "AttributesToJSON (failure)"
        },
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "root-group-id-001",
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "identifier": "conn-attrs-json-failed-to-response-001",
        "instanceIdentifier": "conn-attrs-json-failed-to-response-inst-001",
        "name": "AttributesToJSON (failure) → HandleHttpResponse (401)",
        "source": {
          "id": "proc-attrs-to-json-failed-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "AttributesToJSON (failure)"
        },
        "destination": {
          "id": "proc-http-response-failed-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "HandleHttpResponse (401)"
        },
        "selectedRelationships": ["success"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "root-group-id-001",
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "identifier": "conn-gateway-health-001",
        "instanceIdentifier": "conn-gateway-health-inst-001",
        "name": "RestApiGateway health → LogAttribute",
        "source": {
          "id": "proc-rest-gateway-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "RestApiGateway"
        },
        "destination": {
          "id": "proc-log-gateway-health-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "LogAttribute (gateway-health)"
        },
        "selectedRelationships": ["health"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "root-group-id-001",
        "labelIndex": 1,
        "zIndex": 0
      },
      {
        "identifier": "conn-gateway-data-001",
        "instanceIdentifier": "conn-gateway-data-inst-001",
        "name": "RestApiGateway data → LogAttribute",
        "source": {
          "id": "proc-rest-gateway-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "RestApiGateway"
        },
        "destination": {
          "id": "proc-log-gateway-data-001",
          "type": "PROCESSOR",
          "groupId": "root-group-id-001",
          "name": "LogAttribute (gateway-data)"
        },
        "selectedRelationships": ["data"],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "root-group-id-001",
        "labelIndex": 1,
        "zIndex": 0
      }
    ],
    "labels": [],
    "funnels": [],
    "controllerServices": [
      {
        "identifier": "svc-http-context-map-001",
        "instanceIdentifier": "svc-http-context-map-inst-001",
        "name": "StandardHttpContextMap",
        "type": "org.apache.nifi.http.StandardHttpContextMap",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-http-context-map-nar",
          "version": "2.4.0"
        },
        "properties": {
          "Maximum Outstanding Requests": "1000",
          "Request Expiration": "1 min"
        },
        "propertyDescriptors": {
          "Maximum Outstanding Requests": {
            "name": "Maximum Outstanding Requests",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Request Expiration": {
            "name": "Request Expiration",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.http.HttpContextMap",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-http-context-map-api",
              "version": "2.4.0"
            }
          }
        ],
        "scheduledState": "ENABLED",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "root-group-id-001"
      },
      {
        "identifier": "svc-jwt-issuer-config-001",
        "instanceIdentifier": "svc-jwt-issuer-config-inst-001",
        "name": "StandardJwtIssuerConfigService",
        "type": "de.cuioss.nifi.jwt.config.StandardJwtIssuerConfigService",
        "bundle": {
          "group": "de.cuioss.nifi",
          "artifact": "nifi-cuioss-nar",
          "version": "1.0-SNAPSHOT"
        },
        "properties": {
          "jwt.validation.require.https.for.jwks": "false",
          "issuer.keycloak.jwks-type": "url",
          "issuer.keycloak.jwks-url": "http://keycloak:8080/realms/oauth_integration_tests/protocol/openid-connect/certs",
          "issuer.keycloak.issuer": "http://keycloak:8080/realms/oauth_integration_tests"
        },
        "propertyDescriptors": {
          "jwt.validation.require.https.for.jwks": {
            "name": "jwt.validation.require.https.for.jwks",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "issuer.keycloak.jwks-type": {
            "name": "issuer.keycloak.jwks-type",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "issuer.keycloak.jwks-url": {
            "name": "issuer.keycloak.jwks-url",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "issuer.keycloak.issuer": {
            "name": "issuer.keycloak.issuer",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "de.cuioss.nifi.jwt.config.JwtIssuerConfigService",
            "bundle": {
              "group": "de.cuioss.nifi",
              "artifact": "nifi-cuioss-nar",
              "version": "1.0-SNAPSHOT"
            }
          }
        ],
        "scheduledState": "ENABLED",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "root-group-id-001"
      }
    ],
    "defaultFlowFileExpiration": "0 sec",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "componentType": "PROCESS_GROUP",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE"
  }
}
